<script src="https://code.jquery.com/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="public/js/owl.carousel.min.js"></script>
<script src="public/js/jquery.sticky.js"></script>
<script src="public/js/jquery.easing.1.3.min.js"></script>
<script src="public/js/main.js"></script>
<script type="text/javascript" src="public/js/bxslider.min.js"></script>
<script type="text/javascript" src="public/js/script.slider.js"></script>
</body>
</html>